.input {
  border: none;
  background: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: normal;
  border-bottom: 1px solid #363434;
  width: 100%;
}

.input-title {
  font-size: 32px;
}

.invalid {
  border: 1px solid #b3261e;
}
